.container {
    width: 1900px;
    margin: 0 auto;
}

.parallax {
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.parallax-container::-webkit-scrollbar {
    width: 0;
    height: 0
}
.parallax-container {
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(242, 242, 242);
}
.header-block {
    padding-top: 230px;
    padding-bottom: 130px;
    box-sizing: border-box;
    transform-style: preserve-3d;

}

.header-block:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background: url("../images/header-bg.jpeg")  no-repeat  center /cover;
    transform: translateZ(-2px) scale(4);

}
.header-block-content {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.header-logo {
    background: rgb(29, 33, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-image {
    background: url("../images/logo-img.png") no-repeat rgb(25, 29, 32) center center;
    width: 70px;
    height: 70px;
}
.logo-text {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
}
.header-menu{
    display: flex;
}
.header-menu-item {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-right: 37px;
    text-transform: uppercase;
}
.search {
    width: 68px;
    height: 70px;
    background-color: rgb(25, 29, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-search {
    color: white;
}

.header-block-title {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}
.header-btn-block {
    margin-top: 50px;
    text-align: center;
}
.header-btn {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
.header-btn-green {
    background-color: rgb(138, 203, 98);
    padding: 20px;
    margin-right: 20px;
}
.header-btn-blue {
    background-color: rgb(12, 187, 214);
    padding: 20px 32px;
}
.block-title {
    font-family: 'Open Sans', sans-serif;
    color:  #18b4cf;
    font-size: 27px;
    font-weight: 700;
    margin: 61px auto 52px;
    text-transform: uppercase;
}
.block-2 {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
.content-images {
    width: 1170px;
    max-height: 826px;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 50px;

}
.content-images-item {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    background-color: white;
}
.content-images-item-1 {
    margin-bottom: 30px;
    margin-right: 30px;

}
.content-images-item-2 {
    margin-bottom: 30px;
    margin-right: 30px;

}
.content-images-item-3 {
    margin-bottom: 30px;
}

.content-images-title {
    font-family: 'Open Sans', sans-serif;
    color:  #35393d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px 15px;
}
.block-3 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

}
.block-3-content {
    padding-top: 300px;
    padding-bottom: 200px;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.block-3-content:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background: url("../images/parallax-bg.jpeg") no-repeat center /cover;
    transform: translateZ(-2px) scale(4);
}

.block-3-content-items {
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 55px;
    justify-items: center;


}

.block-3-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 70px;
    justify-items: center;
    align-items: center;
}
.block-3-title {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.line {
    width: 60px;
    height: 3px;
    background-color: rgb(22, 156, 180);
    padding-bottom: 5px;
    border: none;
}

.block-4{
    height: 326px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 145px 181px;
    grid-template-areas:
            "block-title block-title block-title block-title block-title block-title block-title"
            "block-4-img-1 block-4-img-2 block-4-img-3 block-4-img-4 block-4-img-5 block-4-img-6 block-4-img-7";
    grid-column-gap: 0;

}
.block-4 .block-title {
    grid-area: block-title;
}
.block-4-img-1 {
    grid-area: block-4-img-1;
}
.block-4-img-2 {
    grid-area: block-4-img-2;
}
.block-4-img-3 {
    grid-area: block-4-img-3;
}
.block-4-img-4 {
    grid-area: block-4-img-4;
}
.block-4-img-5 {
    grid-area: block-4-img-5;
}
.block-4-img-6 {
    grid-area: block-4-img-6;
}
.block-4-img-7 {
    grid-area: block-4-img-7;
}
.block-5 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.block-5-content {
    width: 1168px;
    height: 1480px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 42px;
    grid-template-areas:
            "post-1 post-1 post-1 post-2"
            "post-3 post-3 post-4 post-4"
            "post-5 post-5 post-6 post-6"
            "post-7 post-8 post-8 post-8";
    margin-bottom: 71px;
}
.post-title {
    font-family: 'Open Sans', sans-serif;
    color:  #35393d;
    font-size: 18px;
    font-weight: 700;
    justify-self: end;
    align-self: center;
    padding: 15px 30px;

}
.post-title-wide {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:  #35393d;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
}
.post-text {
    font-family: 'Open Sans', sans-serif;
    color:  #5b6469;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    padding: 0 30px 30px 30px;
    align-self: start;

}
.block-5-post-1 {
    width: 856px;
    height: 259px;
    grid-area: post-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    background-color: rgb(249, 247, 247);
}
.post-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 82px auto;
}
.block-5-post-2 {
    width: 277px;
    height: 259px;
    grid-area: post-2;
    background-color: rgb(249, 247, 247);
    justify-self: end;

}

.block-5-post-3 {
    grid-area: post-3;
    width: 554px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
}
.block-5-post-4 {
    grid-area: post-4;
    width: 554px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}
.block-5-post-5 {
    grid-area: post-5;
    width: 554px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
}
.block-5-post-6 {
    grid-area: post-6;
    width: 554px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}
.block-5-post-7 {
    grid-area: post-7;
    background-color: rgb(249, 247, 247);
    width: 277px;
    height: 259px;
}
.block-5-post-8 {
    grid-area: post-8;
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}
.footer {
    height: 79px;
    background-color: rgb(29, 33, 36);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.block-6-content {
    width: 1168px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    justify-content: center;
}
.footer-text {
    font-family: 'Open Sans',sans-serif;
    color:  #ffffff;
    font-size: 13px;
}
.footer-logo {
    justify-self: end;

}
